body {
	background-color: #00d0ff;
	color: #1c304a;
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-weight: bold;
	margin-top: -5px;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.botImg {
	width: 100px;
	margin-top: 20px;
}
